body {
    background-image: url("/bg2.jpg");
    
    margin: 0;
}
#icon {
    display: inline-block;
    color: white;
    font-family: sans-serif;
}
#icon a {
    text-align: center;
}
#menu {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
}